@import "tailwindcss";

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("/assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf");
}

@font-face {
  font-family: "DMSans-Bold", sans-serif;
  src: url("/assets/fonts/DM_Sans/static/DMSans-Bold.ttf"), sans-serif;
}

@font-face {
  font-family: "DMSans-Light", sans-serif;
  src: url("/assets/fonts/DM_Sans/static/DMSans-Light.ttf"), sans-serif;
}

@font-face {
  font-family: "DMSans-SemiBold", sans-serif;
  src: url("/assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf"), sans-serif;
}

@font-face {
  font-family: "DMSans-SemiBoldItalic", sans-serif;
  src: url("/assets/fonts/DM_Sans/static/DMSans-SemiBoldItalic.ttf"), sans-serif;
}

@font-face {
  font-family: "DMSans-Variable", sans-serif;
  src: url("/assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf"),
    sans-serif;
}

@font-face {
  font-family: "DMSans-Italic-Variable", sans-serif;
  src: url("/assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf"),
    sans-serif;
}
@theme {
  --font-display-primary: "Bricolage Grotesque", sans-serif;
  --font-display-secondary: "DMSans-Bold", sans-serif;
  --font-display: "DMSans-SemiBoldItalic", sans-serif;

  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-900: hsl(243, 96%, 9%);

  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 12%);

  --color-orange-500: hsl(28, 100%, 52%);
}
